<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <form method="post" enctype="application/x-www-form-urlencoded">
            <label>username:
                <input type="text" name="username" required>
            </label>
            <label>password:
                <input type="password" name="password" required>
            </label>
            <input type="submit" value="register">
        </form>
    </body>
</html>
